body {
	padding: 20px 10px; /* top and bottom 20px and right and left 10px */
	font-family: 'Open Sans', sans-serif;
	max-width: 2000px;
	margin: 0 auto; /* the 0 refers to the top and bottom margin */
	font-size: 1.4em; /* sets the left and right margins to equal values. This centers the body on the page. */
}

h1 {
	text-align: center;
	color: #fff;
}

p {
	margin: 10px 0; /* top and bottom 10px and right and left 0 */
}

ul {
	list-style-type: none; /* this removes the bullets that show up by default */
}

li {
	font-size: 20px;
	line-height: 44px; /* each line of text should occupy 44 px of height (good for mobile usage and fat fingers) */
}

.lesson {
	background-color: #515151;
	border-radius: 20px; /* round the corners of rectangles */
	color: white;
	padding: 10px;
	margin: 10px auto;
}

h2 {
	margin: 10px;
}

.concept {
	background-color: #f4f4f4;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}

.concept-title {
	font-size: 28px;
	margin: 8px;
	text-align: center;
	color: #294860;
}

.concept-description {
	font-weight: lighter;
	margin: 6px;
}

.code {
	font-family: Courier;
	color: black;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
}